.App {
  //text-align: center;
}
body {
  margin: 0;
}
a {
  text-decoration: none !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.items {
  width: 100%;
  display: flex;
  color: #282c34;
  // padding: 40px;
  font-family: Arial;
  text-align: center;
  flex-direction: column;
}
nav {
  display: flex;
  //justify-content: space-around;
  padding: 0 30px;
  justify-content: space-between;

  align-items: center;
  min-height: 10vh;
  background: #2a2e41;
  color: white;
  a {
    color: white;
  }
  img {
    height: 50px;
    width: 50px;
  }
  img:hover {
    filter: opacity(1.5);
    filter: brightness(50%);
  }
}

.recipes-body {
  .container {
    padding: 30px 3%;
  }
}

.items-and-photo:hover {
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
  //filter: invert 50%;
  background-color: #f2f1fa;
  -webkit-box-shadow: 21px 29px 10px -5px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 21px 29px 10px -5px rgba(0, 0, 0, 0.53);
  box-shadow: 21px 29px 10px -5px rgba(0, 0, 0, 0.53);

  .photo-bbq {
    transition: all 0.1s ease-in-out;
  }
}

.items-and-photo {
  margin: 0 5%;
  margin-bottom: 10px;
  //flex-wrap: wrap;
  border: 5px;
  .photo-bbq {
    height: 250px;
    width: 250px;
    //filter: blur(2px);
    border-radius: 25px;
    padding: 20px 20px;
  }
  @media only screen and (max-width: 700px) {
    .photo-bbq {
      object-fit: cover;
      width: 100%;
    }
    flex-direction: column;
  }

  display: flex;
  flex-direction: row;
  .items {
    border-bottom: 1px solid #ced4da;
    padding-bottom: 10px;
    // max-width: 600px;
    min-width: 300px;
    padding: 0 30px;
    flex-direction: column;
    .short-desc {
      padding-top: 20px;
    }
  }
}
.add-menu {
  .add-h {
    padding: 20px 0;
  }
  .mb-3 {
    display: flex;
    flex-direction: column;
  }
  .add-form {
    padding: 20px 0;
    margin: 20px 0;
  }
  .add-button {
    // padding: 15px 100px;
  }
}

.Add-butt {
  margin-left: 10px;
}

.detail-page {
  display: flex;
  flex-direction: column;
  padding: 40px 7%;
}
.items-long {
  padding-top: 30px;
}

.buttons-e-d {
  .edit-butt {
    margin: 0 10px;
    padding: 10px 40px;
  }

  .delete-butt {
    margin: 0 10px;
    padding: 10px 30px;
  }

  display: flex;
  justify-content: center;

  flex-direction: row;
}
.text-left {
  justify-items: left;
}

.butt-ed {
  display: flex;
  justify-content: center;
}

.d {
  margin: 0 20px;
}

.q {
  text-align: center;
  padding-bottom: 2%;
}

.nav-link {
  list-style: none;
}

.main-buttons {
  margin-right: 5%;
  
  justify-content: flex-end;
  display: flex;
  .buttons-e-d {
    .f {
      padding: 0px 8px;
    }
  }
}

.e {
  padding-top: 20px;
}

.w {
  text-align: center;
  padding: 0 10%;
}

.n{
  opacity: 0.5;
}